@import "../stylelib"; 

body {
    width : 70vw; 
    padding: 20px;
    font-family: $main-font;
}
code {
    color: gray;
    padding: 0 5px;
}
article {
    border: .5px dotted $primary-color;
    padding: 10vw;
    margin: 50px auto;
    line-height: 1.5;
}

h1, ul li{
    color: $primary-color;
}

ul li {
    line-height: 1.5;
}

b {
    color: red; 
}

.date {
    color: $secondary-color;
}

.team {
    color: $alt-color;
}

.date, .team {
    font-size: 1.3em;
}