@import "../stylelib"; 

body {
    width : 70vw; 
    background-color: $bg;
    color: $text;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
code {
    color: $secondary;
    padding: 0 5px;
}
article {
    background-color: $overlay;
    padding: 10vw;
    margin: 50px auto;
    line-height: 1.5;
}

section:nth-of-type(2) {
    margin-top: 10vw;
}

ul li {
    line-height: 1.5;
}

b {
    color:#cf6679;
}

img {
    width: 60%;
    padding: 10px; 
    margin: 10px;
    background-color: $primary-variant;
    border-radius: 5px;
    clear: both;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.date {
    color: $secondary;
}

.team {
    color: $primary;
}

.date, .team {
    font-size: 1.3em;
}

li .weeklies {
    list-style-type: none;
    &::before, &::after{
        content: "🌝";
        padding: 2px;
    }
}

.todos {
    list-style-type: none;
    margin: 10vh auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .weeklies {
        &::before{
            content: "🌝";
            padding: 2px;
            margin-right: 5%;
            font-size: 1.2em;
        }    
    }

    .weekons {
        &::before{
            content: "🌚";
            padding: 2px;
            margin-right: 5%;
            font-size: 1.2em;
        }    
    }
}

.leftovers li{
    list-style-type: none;
    &::before {
        content: "👉🏼";
        padding: 2px;
        margin-right: 5%;
        font-size: 1.2em;
    }
}