@font-face {
    font-family: "Bitstream Vera Serif Bold", Helvetica;
    src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
  }

$bg: #121212; 
$overlay: #272727;
$primary: #bb86fc;
$primary-variant: #3700b3; 
$secondary: #03dac5; 
$text: whitesmoke; 
$error: #cf6679; 
$link: greenyellow; 