@import "stylelib"; 

body {
    width : 97vw;
    margin : 0 auto; 
    padding: 10vh 0; 
    background-color: $bg;
    color: $text; 
}
ul {
    list-style-type: none;
    background-color: $overlay;
    line-height: 2.0;
    margin: 50px auto 0; 
    padding: 100px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    li {
        display : block;
        width: 30%;
        padding: 8px 0;
        margin: 10px;
        border-radius: 5px;

        &.main {
            border: 5px solid $primary;
        }

        &.sunsavers {
            border: 5px solid $primary-variant;
        }

        &.todos, &.weekend, &.leftovers, &.notes {
            border: 5px solid $secondary; 
        }

        a:link, a:visited {
            display : inline-block;
            width: 100%; 
            color: $text; 
            font-size : 1.5em; 
            padding : 5px 10px; 
            text-decoration: none;
        }
    } 
}

.teams {
    position: sticky;
    background-color: $bg;
    padding: 10px;
    top: 0; 
    left: 0;
    z-index: 2;
}
span[role=img] {
    display: inline-block;
    div {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid gray;
    }
    &#main div{
        background-color: $primary;
        margin-right: 5px;
    }
    &#sunsavers div{
        background-color: $primary-variant;
        margin-left: 5px;
    }
    &#others div{
        background-color: $secondary;
        margin-left: 5px;
    }
}